**/build
**/.idea/*
!.idea/kotlinTestDataPluginTestDataPaths.xml
.gradle
.kotlin/
.iml
.project
.classpath
*.iml
local.properties
.DS_Store

docs/code-of-conduct.md
docs/contributing.md
docs/changelog.md
docs/api/
site/
temp-clone/
